body {
  background-color: #212922;
}

.is-block{
  display: block;
}

.center-block{
  margin: auto;
}

.btngrp-space{
  margin-bottom: 5px !important;
}

.bold{
  font-weight: bold;
}


.quiz-list-head{
  display: block;
  height: fit-content;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  text-align: left;
  list-style-type: none;
  margin: auto;
}

.quiz-item-label{
  display: block;
  height: fit-content;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  text-align: left;
  list-style-type: none;
  margin: auto;
}

.quiz-button-group{
  width: 100%;
}

.inline-option-button{
  float: right;
}

.center-text {
  text-align: center;
}

.style-text {
  color: white;
  font-family: 'Quicksand';
}

.container-size{
  width: 100vw;
  height: 100vh;
}

.btn {
  border-color: #6a8d73;
  background-color: #6a8d73;
}

#join-btn {
  width: 80%;
  height: 70%;
  margin-top: 7%;
  margin-bottom: 6%;
}

#host-btn {
  width: 80%;
  height: 10%;
  margin-bottom: 7%;
}

#host-quiz{
  margin-top: 100px;
}