body {
  background-color: #212922;
}


.quiz-list-head{
  list-style-type: none;
  text-align: left;
  color: white;
  font-size: 40px;
}

.quiz-list-head:hover, .quiz-list-head:active{
  color: white !important;
}

.quiz-item-selection{
  list-style-type: none;
  text-align: left;
  color: white;
  display: grid;
  grid-template-columns: 1fr auto;
}

.quiz-button-group{
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  font-family: "Quicksand";
}

.center-text {
  text-align: center;
}

.container-size{
  width: 100vw;
  height: 100vh;
}

.btn {
  border-color: #6a8d73;
  background-color: #6a8d73;
  border-radius: 22px;
}

.host-quiz{
  display: block;
  margin: 100px auto auto auto;
  width: 50%;
  max-width: 400px;
  font-family: "Quicksand";
  font-size: 30px;
}

#join-btn {
  width: 80%;
  height: 70%;
  margin-top: 7%;
  margin-bottom: 6%;
}

#host-btn {
  width: 80%;
  height: 10%;
  margin-bottom: 7%;
}

