body {
  margin: 0.2em;
  background-color: #212922;
}
h1 {
  text-align: center;
}

@include media-breakpoint-down(sm) {
  .login-form {
    margin: 1rem;
    background: red;
  }
}

text {
  color: white;
}
