body {
  background-color: #212922;
  padding: 2rem;
  color: white;
  font-family: var(--font-family)
}

h1 {
  text-align: center;
}

button {
  background-color: #6a8d73;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0.5rem, 1rem;
}

.title {
  margin: auto
}

.header {
  display: flex
}