.list-head {
    color: white;
}

.quiz-item-label{
    display: inline-block;
    height: fit-content;
    /* override from higher level class */
    width: 100% !important;
    min-width: 300px;
    max-width: 500px;
    text-align: left;
    color: white;
    list-style-type: none;
    padding: auto;
}

.quiz-button-group{
    width: 100%;
}

.inline-option-button{
    float: right;
}