body {
  background-color: #212922;
  color: white;
  font-family: 'Quicksand'
}

h1 {
  text-align: center;
}

button {
  background-color: #6a8d73;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0.5rem, 1rem;
}

.title {
  margin: auto
}

.header {
  display: flex
}

html,
body {
  padding: 0.4em;
  height: 100%;
}

#root {
  height: 100%;
}

.scrollMenu {
  margin-top: 3rem;
  overflow: auto;
  white-space: nowrap;
}

.questionButton {
  background-color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
}

.questionButton h4 {
  color: #6a8d73;
  font-family: 'Quicksand';
}

#selectedButton {
  background-color: #6a8d73;
}
#selectedButton h4 {
  color: white;
}

.submitAllButton {
  border-radius: 2rem;
}
.submitAllButton h5 {
  margin: 0;
}

.questionText {
  font-size: 2.5rem;
  margin-top: 3rem;
}

#textInput {
  font-size: 2rem;
  border-radius: 1rem;
}

#questionInput {
  font-size: 3rem;
}

.navigationButtons {
  flex: 0 1 40px;
  margin: 0.5rem;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.round {
  padding-top: 2rem;
}
.question {
  margin-top: 2rem;
}
.questionDiv {
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topBar {
  flex: 0 1 auto;
}
.scrollMenu {
  flex: 0 1 auto;
}
.submitButton {
  border-radius: 2rem;
}
.submitButton h2 {
  margin: 0.75rem;
}

.navigationButtons button {
  background-color: white;
  color: #6a8d73;
  font-family: 'Quicksand';
}
.navigationButtons button h3 {
  font-weight: bold;
}
