body {
  background-color: #212922;
  padding: 5vh;
}
h1 {
  text-align: center;
}

.text {
  color: white;
  font-family: var(--font-family);
}

.btn {
  border-color: #6a8d73;
  background-color: #6a8d73;
}
.btn :hover {
  border-color: #516b58;
}

#join-btn {
  width: 90%;
  height: 70vh;
  margin-bottom: 5vh;
}
#host-btn {
  width: 90%;
  height: 10vh;
}
